@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #fafaf8;
  --color-ink: #0c0c0b;
  --color-muted: #8a8980;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background font-sans text-ink antialiased;
}
